.hero {
    flex-basis: 80%;
    color: white;
    background-color: var(--dark-cube);
    border: var(--dark-border) solid 2px;
    border-radius: 20px;
    box-shadow: var(--pink-shadow-large);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.hero span {
    color: var(--blu-text);
}

#wave-emj {
    font-size: clamp(3rem, 4.5vw, 8rem);
}

#hey {
    font-size: clamp(2rem, 4vw, 4rem);
    margin-bottom: 15px;
}

.hero-txt p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}